@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto auto auto;
    justify-content: center;
    list-style: none;
}
header{
    display: flex;
    color: white;
    background-color: #FF8C00;
    border: 3px #FF8C00 solid;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 1024px;
    align-items: center;
    margin: auto;
}
ul{
    display: flex;
    width: 200px;
    justify-content: space-between;
    list-style: none;
}
nav{
    padding: auto;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.logo{
    color: #ffffff;
    font-size: 20px;
}
ul li a {
    color: #ffffff;
    font-size: 20px;
}
main{
    justify-content: space-around;
    margin: 50px 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
.b1{
    margin: 3px 0px;
    font-size: 50px;
}
.b2{
    margin: 3px 0px;
    font-size: 30px;
}
.b3{
    font-size: 20px;
    font-style: italic;
}
.button{
    margin: 40px 0px;
    display: flex;
    justify-content: space-around;
    width: 350px;
}
.main{
    margin: 150px 0px 40px 30px;
    display: flex;
    width: 1050px;
    justify-content: space-between;
    align-items: center;
}
.t1{
    color: #ffb65c;
}
.image{
    background-color: #f18f16;
    width: 400px;
    height: auto;
    border-radius: 50px;
}
.button1{
    background-color: #ffb65c;
    padding: 20px 30px;
    margin: 10px 5px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}
.button2{
    padding: 20px 30px;
    margin: 10px 5px;
    border: black solid 2px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: black;
}
img{
    width: 400px;
    height: auto;
}
.aa{
    text-decoration: none;
}